* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #23252c;
}

.container {
  background-color: #1a1b21;
  margin: 2.75rem auto;
  width: 317px;
}

header {
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  padding-top: 1rem;
}

h2 {
  color: #f3bf99;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.2rem 0;
}

header > span {
  color: #f5f5f5;
  font-size: 0.65rem;
  font-weight: 300;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.btn {
  font-family: inherit;
  font-size: 0.875rem;
  border-radius: 6px;
  background-color: #ffffff;
  color: #374151;
  padding: 0.5rem 1.75rem;
  border: none;
  cursor: pointer;
}

.btn-blue {
  background-color: #5093e2;
  color: #ffffff;
}

main {
  margin: 30px 28px;
}

h3 {
  font-size: 1rem;
  color: #f5f5f5;
  font-weight: 700;
  padding: 0.5rem 0;
}

p {
  font-size: 0.625rem;
  color: #dcdcdc;
  line-height: 1.7;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: #161619;
  padding: 1.4rem 0;
}
